<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавить продукт</title>
</head>
<body>
    <h1>Добавить продукт</h1>

    <form method="POST" enctype="multipart/form-data" id="productForm">
        {% csrf_token %}
        {{ form.as_p }}  <!-- Отображение формы -->
        
        <div id="video-container">
            <label for="id_videos">Загрузить видео:</label>
            <input type="file" name="videos" class="video-input" multiple>
        </div>
        <button type="button" id="add-video">Добавить еще видео</button>
        
        <div>
            <label for="id_photo">Загрузить фото:</label>
            <input type="file" name="photo" id="id_photo">
        </div>
        
        <button type="submit">Добавить продукт</button>
    </form>

    <br>
    <a href="{% url 'product_list' %}">Назад к списку продуктов</a>
    
    {% if last_product %}
        <br><br>
        <a href="{% url 'product_detail' last_product.id %}">
             <button>Последний добавленный продукт</button>
        </a>
    {% endif %}

    <script>
        document.getElementById('add-video').addEventListener('click', function() {
            let newVideoInput = document.createElement('input');
            newVideoInput.type = 'file';
            newVideoInput.name = 'videos';  // Keep the same name for the server to handle multiple files
            newVideoInput.className = 'video-input';
            newVideoInput.setAttribute('multiple', 'multiple');  // Allow for multiple file uploads
            document.getElementById('video-container').appendChild(newVideoInput);
        });
    </script>
</body>
</html>

