<h1>Список продуктов</h1>
<ul>
    {% for product in products %}
        <li>
            {{ product.name }} - {{ product.price }}
            <a href="{% url 'update_product' product.id %}">Редактировать</a>
            <form action="{% url 'delete_product' product.id %}" method="post" style="display:inline;" onsubmit="return confirmDelete(event);">
                {% csrf_token %}
                <button type="submit">Удалить</button>
            </form>
        </li>
    {% endfor %}
</ul>
<a href="{% url 'add_product' %}">Добавить продукт</a>

<script>
function confirmDelete(event) {
    const confirmation = confirm("Вы точно хотите удалить этот продукт?");
    if (!confirmation) {
        event.preventDefault();
    }
    return confirmation;
}
</script>
